@font-face {
    font-family: wild;
    src: url('../fonts/The\ Wild\ Team.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

h1 {
    font-size: 360px;
    letter-spacing: 20px;
    font-family: wild;

    background-image: url('../images/demo.jpg');
    background-position: center left;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}

.text-video {
    position: relative;
}

.text-video .text {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    overflow: hidden;
    background: #fff;
    mix-blend-mode: screen;
    overflow: hidden;
}

.text-video .text p {
    font-size: 20vw;
    line-height: 1;
    font-weight: 900;
    font-family: wild;
}

video {
    width: 100%;
}

.other {
    display: block;
    background-color: white;
    padding: 10px 15px;
    text-decoration: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 3px;
    outline: 1px solid black;
}